.about {
  padding: 100px 40px;
  background-color: #fff;
}

.about-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  gap: 60px;
  align-items: center;
}

.about-text {
  flex: 1;
}

.about-text h2 {
  font-size: 14px;
  letter-spacing: 2px;
  color: #999;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.about-text h3 {
  font-size: 36px;
  margin-bottom: 20px;
}

.about-text p {
  font-size: 16px;
  line-height: 1.7;
  color: #555;
  margin-bottom: 20px;
}

.about-points {
  list-style: none;
}

.about-points li {
  margin-bottom: 10px;
  font-size: 15px;
}

.about-image {
  flex: 1;
}

.about-image img {
  width: 400px;
  height: 400px;
  border-radius: 12px;
}

@media (max-width : 768px){
  .about{
    padding: 50px 20px;
  }
  .about-image{
    width: 100%;
  }
  .about-image img{
    width: 100%;
    height: 350px;
  }
.about-container {
  flex-direction: column-reverse;
  gap:30px;
  width: 100%;
  .about-text h3{
    font-size: 23px;
  }
}
}