.carpet-section {
  padding: 100px 40px;
  background: #1c1c1c;
  text-align: center;
}
.carpet-section H2{
    color: white;
}
.carousel {
    max-width: 1100px;
    position: relative;
    margin: auto;
}
.carousel-track-container {
  overflow: hidden;
  margin-top: 15px;
}
.carousel-track {
    display: flex;
    transition: transform 0.4s ease;
}
.carousel-slide {
  min-width: 300px;
  margin: 0 15px;
  background: #fff;
  border-radius: 12px;
  padding: 20px;
}
.carousel-track-container ul li{
    list-style: none;
}
.carousel-slide img {
  width: 100%;
  border-radius: 10px;
  max-height: 250px;
  
}
.carousel-slide p{
    color: #4d4a4a;
}
.explr-btn{
    padding: 5px 10px;
    margin-top: 10px;
    font-weight: bold;
    border:10 px;
    border: none;
}
.nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: white;
    color: black;
    border: none;
    padding: 12px;
    cursor: pointer;
}
.prev { left: -20px; }
.next { right: -33px; }