.Contact-Section{
    padding: 80px 10%;
    background-color: black;
}
.contact-container {
  display: flex;
  align-items: center;
  gap: 60px;
}
.contact-text{
    flex: 1;
}
.contact-text h2 {
  font-size: 35px;
  letter-spacing: 2px;
  color: #777;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.Contact-map{
    flex: 1;
}
.Address-text{
    max-width: 480px;
    word-wrap: break-word;
    text-align: justify;
}
.social-icon{
    display: flex;
    justify-content: space-between;
    max-width: 45px;
    font-size: 30px;
    color: #777;
}
.social-icon-list{
    list-style: none;
    margin-right: 20px;
}
.contact-text p{
    color: #777;
    line-height: 1.7;
}
@media(max-width:768px){
    .Contact-Section{
        padding: 50px 20px;
    }
    .contact-container{
        flex-direction: column-reverse;
    }
    .Contact-map iframe{
        max-width: 300px;
        max-height: 300px;
    }
    .contact-text h2{
        font-size: 25px;
        
    }
    .social-icon{
        font-size: 20px;
    }
    .contact-text{
        font-size: 14px;
    }
}