.our-story {
  padding: 80px 10px;
  background: white;
}

.story-container {
  display: flex;
  align-items: center;
  gap: 60px;
  max-width: 1200px;
  margin: 0 auto;

}

.story-text {
  flex: 1;
}

.story-text h2 {
  font-size: 35px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.story-text .tagline {
  font-size: 18px;
  color: #8b5a2b;
  margin-bottom: 25px;
  font-style: italic;
}

.story-text p {
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 18px;
  color: #555;
}

.story-image {
  flex: 1;
}

.story-image img {
  width: 100%;
  border-radius: 10px;
  height: 400px;
  object-fit: cover;
}

@media (max-width:768px){
  .our-story{
    padding: 50px 20px;
  }
  .story-container{
    flex-direction: column-reverse;
  }
  .story-text h2{
    font-size: 23px;
    font-weight: bold;
  }
  .story-text p{
    text-align: left;
  }
   .story-image img {
    height: 300px;    
    border-radius: 5px;
  }
}
