.our-story {
  padding: 80px 10%;
  background: white;
}

.story-container {
  display: flex;
  align-items: center;
  gap: 60px;
}

.story-text {
  flex: 1;
}

.story-text h2 {
  font-size: 35px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.story-text .tagline {
  font-size: 18px;
  color: #a67c52;
  margin-bottom: 25px;
  font-style: italic;
}

.story-text p {
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 18px;
  color: #555;
}

.story-image {
  flex: 1;
}

.story-image img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

@media (max-width:768px){
  .our-story{
    padding: 50px 20px;
  }
  .story-container{
    flex-direction: column-reverse;
  }
  .story-text h2{
    font-size: 23px;
    font-weight: bold;
  }
  .story-text p{
    text-align: justify;
  }
  .story-image img {
    border-radius: 5px;
  }
}
