* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 40px;

  /* learning 2 */
    position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;
  
}

.logo {
  color: white;
  font-size: 22px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}

.nav-links a:hover {
  color: #f4b400;
}

.nav-list {
    margin-top: 18px;
}

/* Learning 1 */
.logo img {
    height: auto;
    width: 190px;
}

/* Hero-Section */
.Hero{
    position: relative;     
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../img/hero-img.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 80px 40px;
     min-height: calc(100vh - 80px);
}
/* for overlay effect on hero-img */
.Hero::before{
    position: absolute;
    content: "";
    inset: 0;
     background: rgba(0, 0, 0, 0.5);
}
.hero-content {
  position: relative;
  color: white;
  max-width: 50%;
  text-align: center;
}
.hero-content h1 {
    font-size: 48px;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 20px;
}
.hero-content button a {
    text-decoration: none;
    color: white;
}
.hero-content button{
    padding: 14px 28px;
    font-weight: 600;
    background-color: rgb(23, 18, 35);
    color: white;
    border: none;
    margin-top: 10px;
}