* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* fix for background scrolls when menu open */
body.menu-open {
  overflow: hidden;
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 40px;

  /* learning 2 */
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;
  
}
/* LOGO_STYLe */


/* Learning 1 */
.logo img {
    height: auto;
    width: 190px;
    margin-bottom: 15px;
}


.hamburger {
  display: none;
  /* adding */
  flex-direction: column;
  cursor: pointer;
  margin-bottom: 10px;
}

.hamburger span {
  height: 3px;             /* thickness of the line */
  width: 25px;             /* length of the line */
  background-color: #000;  /* line color */
  border-radius: 2px;  
  margin-bottom: 5px;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 30px;
  flex-wrap: wrap;
}

.nav-links li  a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}

.nav-links li a i{
    color: black;
  }

.nav-links li a:hover {
  color: #f4b400;
}



@media (max-width: 768px){
  .navbar{
    flex-direction: row;
    justify-content: space-between ;
  }
  .hamburger{
    display : flex;
  }
  .nav-list{
    position: absolute;
    top: 100%;
    right: 0;
    width: 50%;
    height: auto;
    display: none;
    background-color: transparent ;
  }
  .nav-links{
    display:flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    gap: 0px;
  }
  .nav-list.active{
    display: flex;
    background-color:  rgba(0, 0, 0, 0.95);
  }

  .nav-list.active {
  background-color: rgba(0, 0, 0, 0.95);
  backdrop-filter: blur(5px); /* To Blur the background*/
}

  .nav-links li a {
    color: white;
 
  }
  
  .nav-links li{
    width: 100%;
    padding: 10px 0px;
  }

  .nav-links li a i{
    color: white;
  }

  /* close button */
  .close-btn {
  font-size: 32px;
  color: #fff;
  cursor: pointer;
  padding: 0px 5px;
  text-align: right;
}

}

@media (max-width: 768px){
  .logo img{
    width: 92px;
  }
}

/* Hero-Section */
.Hero{
    position: relative;     
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../img/hero-img.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 80px 40px;
     min-height: calc(100vh - 80px);
      background-color: #2c3e50;
}
/* for overlay effect on hero-img */
.Hero::before{
    position: absolute;
    content: "";
    inset: 0;
     background: rgba(0, 0, 0, 0.5);
       z-index: 1;
}
.hero-content {
  position: relative;
  color: white;
  max-width: 50%;
  text-align: center;
  z-index: 2
}
.hero-content h1 {
    font-size: 48px;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 20px;
}

.hero-content button{
    padding: 14px 28px;
    font-weight: 600;
    background-color: rgb(23, 18, 35);
    color: white;
    border: none;
    margin-top: 10px;
    cursor: pointer;
     transition: all 0.3s ease
}

.hero-content button:hover {
  background-color: #f4b400; 
  color: black;
}

/* Making Hero Section Mobile Responsive */
@media (max-width: 768px){
  .Hero{
    padding: 40px 20px;
  }
  .hero-content h1{
    font-size: 32px;
  }
  .hero-content{
    max-width: 90%;
  }
  .hero-content button{
    padding: 12px 19px;
  }
}